<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Banking application demo project">
    <meta name="author" content="j-sce">
    <title>Banking Application</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>
</head>
<body class="w3-light-grey">
<h1>Welcome to Banking Application</h1>
<p>This is the main page of the application. You can navigate to other pages from here.</p>

<h2>Navigation</h2>
<ul>
    <li><a href="/addBankAccount">Add new Bank Account</a></li>
    <li><a href="/removeBankAccount">Remove Bank Account</a></li>
    <li><a href="/getAllBankAccounts">Show All Bank Accounts</a></li>
    <li><a href="/deposit">Deposit to Bank Account</a></li>
    <li><a href="/withdraw">Withdraw from Bank Account</a></li>
    <li><a href="/transfer">Transfer between Bank Accounts</a></li>
</ul>
</body>
</html>