<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Banking application demo project">
    <meta name="author" content="j-sce">
    <title>Withdraw Form</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>
</head>

<body class="w3-light-grey">

<h3>Withdraw</h3>

<form action="/withdraw" method="post">
    <table class="w3-table w3-striped w3-white">
        <tr>
            <td>Account ID:</td>
            <td><input type="text" name="accountId" /></td>
        </tr>
        <tr>
            <td>Withdraw Amount:</td>
            <td><input type="text" name="withdrawAmount" /></td>
        </tr>
    </table>

    <input type="submit" value="Withdraw" />
    <input type="reset" value="Clear" />
</form>

<div th:if="${error}">
    <p th:text="${error}" style="color: red;"></p>
</div>

<form action="/" method="get">
    <input class="w3-button w3-dark-grey" type="submit" value="Go to main page" name="Submit" />
</form>

</body>
</html>